.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .5s;
}

.footer__column-link:hover {
  opacity: .7;
}
