.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background: url('../images/logo_place_header.svg') center center/cover no-repeat;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  background: url('../images/logo_place_footer.svg') center center/cover no-repeat;
}

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.section-subtitle_mt20 {
  margin-top: 20px;
}

.table {
  width: 1100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  width: 250px;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*  */
.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.feynman {
  height: 890px;
  padding-top: 100px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  box-sizing: border-box;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  width: 877px;
  height: 877px;
}


